.sidenav-container
  {
  height: 100%;
  }

.sidenav
  {
  width: 200px;
  }

.sidenav .mat-toolbar
  {
  background: #5c5658;
  }

.mat-toolbar.mat-primary
  {
  background: #8a213a;
  position: sticky;
  top: 0;
  z-index: 1;
  }

/*the side buttons*/
.mat-nav-list
  {
  background-color: #8a213a;
  border-color: black;
  }
.mat-sidenav
  {
    background: #8a213a;
    border-color: black;
  }
.mat-list-item
  {
  background: grey;
  border-style: outset;
  border-color: #8a213a;
  }
.flex-container
  {
  display: flex;
  justify-content: space-between;
  height: 20px;
  border: 1px;
  }
  .left-side
    {
    align-self: flex-start;
    }
  .right-side
    {
    align-self: flex-end;
    }

  .mat-button
    {
    display: center;
    align-self: center;
    background: grey;
    border-color: #8a213a;
    border-style:outset;
    width: 98%;
    height: 100%;
    }

.home-button
  {
  display: center;
  align-self: center;
  background: grey;
  border-color: #8a213a;
  border-style: ridge;
  width: 220%;
  height: 150%;
  }
.mat-sidenav-content
  {

  }
