<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>
        <button mat-button (click)="changePage('/home');" class="home-button">Home</button>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <button mat-button (click)="changePage('/create-survey');">Create Survey</button>
      <button mat-button (click)="changePage('/my-surveys');">My Surveys</button>
      <button mat-button (click)="changePage('/survey-results');">Survey Results</button>
      <button mat-button (click)="changePage('/add-administrator');">add administrator</button>
          <div style="position: absolute; bottom: 0px; background-color: grey; width: 193px">
            <a mat-list-item href="sign-out">Sign out</a>
          </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      PMAP 2020 Administration Page
    </mat-toolbar>
    WELCOME TO THE PMAP SURVEY SITE
    <app-create-survey></app-create-survey>
  </mat-sidenav-content>
</mat-sidenav-container>
