<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>
        <button type="button" class="button" routerLink="/home">
          Menu
        </button>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="create-survey">Create a Survey</a>
      <a mat-list-item href="my-surveys">My Surveys</a>
      <a mat-list-item href="survey-results">Survey Results</a>
      <a mat-list-item href="add-administrator">Add an Administrator</a>

          <div style="position: absolute; bottom: 0px; background-color: grey; width: 193px">
            <a mat-list-item href="sign-out">Sign out</a>
          </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      PMAP 2020 Administration Page
    </mat-toolbar>
    YOUR SURVEYS WILL LIE HERE
  </mat-sidenav-content>
</mat-sidenav-container>
