<div class="question-parent">

<mat-form-field>
  <label>Question 1</label>
  <input matInput placeholder="">

  <br>
  <!-- Default button group for now -->
  <mat-radio-group aria-label="Select">
  <mat-radio-button value="1">Agree</mat-radio-button>
  <mat-radio-button value="2">Slightly Agree</mat-radio-button>
  <mat-radio-button value="3">Slightly Disagree</mat-radio-button>
  <mat-radio-button value="4">Disagree</mat-radio-button>
  </mat-radio-group>

  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" >Add Question</button>


</div>
