
<div class="question-parent">

  <form [formGroup]="questionForm">
    <div class="questionForm">

      <mat-form-field>
        <label>
          ClassID: <input matInput formControlName="title" />
        </label>
      <!-- <h2>Questions: </h2> -->
      </mat-form-field>
    </div>

<!-- Two div wrappers for accessing and keeping index of array -->
    <div formArrayName="questions">
      <div *ngFor="let item of questionsArr.controls; let pointIndex=index" [formGroupName]="pointIndex">
        <label>
          Question: <input matInput formControlName="quesiton" />

          <!-- Default button group for now -->
          <mat-radio-group formControlName="answer" aria-label="Select">
            <!-- <form [formGroup]="optionForm"> -->
              <!-- <div class="questionForm"> -->
                <!-- <div formArrayName="options"> -->
                  <!-- <div *ngFor="let item of optionsArr.controls; let pointIndex=index" [formGroupName]="pointIndex"> -->

                    <mat-radio-button value="1" > <input matInput placeholder="value" formControlName="option"> </mat-radio-button>
                    <mat-radio-button value="2"> <input matInput type="value2" placeholder="value"> </mat-radio-button>
                    <mat-radio-button value="3"> <input matInput type="value3" placeholder="value"> </mat-radio-button>
                    <mat-radio-button value="4"> <input matInput type="value4" placeholder="value"> </mat-radio-button>
                    <!-- <button type="button" mat-raised-button color="primary" (click)="addRadioButton()">Add Option</button> -->
                    <!-- <button type="button" mat-raised-button color="primary" (click)="deleteRadioButton()">Delete Option</button> -->
                  <!-- </div> -->
                  <!-- <button type="button" mat-raised-button color="primary" (click)="addRadioButton()">Add Option</button> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </form> -->
          </mat-radio-group>
          </label>
          <button type="button" mat-raised-button color="primary" (click)="deleteQuestion(pointIndex)">Delete Question</button>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>
      </div>
      <button type="button" mat-raised-button color="primary" (click)="addSample()">Add Sample Question</button>"

    </form>


</div>
<div class="question-parent">


</div>
