<mat-sidenav-container class="sidenav-container">
<mat-toolbar class="mat-toolbar-cl" color="primary" >
  <!--> the top tool bar<!-->
  <mat-toolbar-row>
    <!--> the content of the top toolbar<!-->
    <h1>PMAP</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/student-home/change-pass"> Change Password </a>
      <a mat-button routerLink="/student-home/student-survey">My Surveys</a>
      <a mat-button routerLink="/login">Log Out</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<!-->the content of the page with the toolbar surrounding it<!-->
<div class="main-body">
  <router-outlet></router-outlet>
    <!--> the pages to be displayed inside the student home page<!-->
</div>

</mat-sidenav-container>
