<mat-sidenav-container class="sidenav-container">
<mat-toolbar class="mat-toolbar-cl" color="primary" >
  <mat-toolbar-row>

    <h1>PMAP</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/student-home/change-pass"> Change Password </a>
      <a mat-button routerLink="/student-home/student-survey">My Surveys</a>
      <a mat-button routerLink="/login">Log Out</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="main-body">
  <router-outlet></router-outlet>
</div>

</mat-sidenav-container>
