<mat-toolbar class="mat-toolbar-cl" color="primary" >
  <span class="mat-spacer"></span>
  <span>PMAP</span>
</mat-toolbar>

<div class="main-body">
  <router-outlet></router-outlet>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport="true"  [opened]="true" disableClose="true">
    <a mat-button style="height: 0; position: absolute;"> <!-- fake button that prevents the first mat-list-item from being highlighted by default -->
     </a>
    <mat-nav-list>
      <a mat-list-item routerLink="/home/change-pass">Change Password</a>
      <a mat-list-item routerLink="/home/my-surveys">My Surveys</a>
      <a mat-list-item routerLink="/home/create-survey">Create a Survey</a>
      <a mat-list-item routerLink="/home/survey-results">Survey Results</a>
      <a mat-list-item routerLink="/home/add-administrator">Add an Administrator</a>
      <a mat-list-item routerLink="/home/my-classes"> My Classes </a>

      <div style="position: absolute; bottom: 0px; width: 193px">
        <a mat-list-item href="sign-out">Sign out</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
