<form [formGroup]="surveyForm">
  <div class="surveyForm">
    <mat-form-field>
      <label>
        Survey Name: <input matInput formControlName="title" />
      </label>
    </mat-form-field>
  </div>

  <div *ngFor="let item of questionArr; let i = index" class="buttonForm">
    <app-text-field-question *ngIf="isTextFieldQuestion(i)" [i]="i"> </app-text-field-question>
    <app-two-button-question *ngIf="isTwoButtonQuestion(i)" [i]="i"> </app-two-button-question>
    <app-three-button-question *ngIf="isThreeButtonQuestion(i)" [i]="i"> </app-three-button-question>
    <app-four-button-question *ngIf="isFourButtonQuestion(i)" [i]="i"> </app-four-button-question>
    <app-five-button-question *ngIf="isFiveButtonQuestion(i)" [i]="i"> </app-five-button-question>
    <app-slider-question *ngIf="isSliderQuestion(i)" [i]="i"> </app-slider-question>
    <button mat-raised-button color="warn" (click)="deleteQuestion(i)">Delete Question</button>
  </div>

<!-- <div *ngFor="let item of questionArr; let i = index"> -->
  <button mat-button [matMenuTriggerFor]="menu"> Add question </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addQuestion('twoButtonQuestion')"> 2 button question </button>
    <button mat-menu-item (click)="addQuestion('threeButtonQuestion')"> 3 button question </button>
    <button mat-menu-item (click)="addQuestion('fourButtonQuestion')"> 4 button question </button>
    <button mat-menu-item (click)="addQuestion('fiveButtonQuestion')"> 5 button question </button>
    <button mat-menu-item (click)="addQuestion('textFieldQuestion')"> text box question </button>
    <button mat-menu-item (click)="addQuestion('sliderQuestion')"> slider question   </button>
  </mat-menu>
  <!-- </div> -->
  <div *ngFor="let item of questionArr; let i = index" class="buttonForm">

    <button mat-raised-button color="primary" (click)="saveSurvey(questionArr)">Save Survey</button>
  </div>

</form>
