<form [formGroup]="surveyForm">
  <div class="surveyForm">
    <mat-form-field>
      <label>
        Survey Name: <input matInput formControlName="title" />
      </label>
    </mat-form-field>
  </div>

  <div *ngFor="let item of questionArr; let i = index" class="buttonForm">
    <app-text-field-question *ngIf="isTextboxQuestion(i)" i="i"> </app-text-field-question>
    <app-radio-question *ngIf="isRadioQuestion(i)" i="i" [question]="questionArr" (update)="questionChange($event, i)"> </app-radio-question>
    <app-slider-question *ngIf="isSliderQuestion(i)" i="i"> </app-slider-question>
    <button mat-raised-button color="warn" (click)="deleteQuestion(i)">Delete Question</button>
  </div>

<button mat-button [matMenuTriggerFor]="menu"> Add question </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addQuestion('radio', 2)"> 2 radio button</button>
    <button mat-menu-item (click)="addQuestion('radio', 3)"> 3 radio button </button>
    <button mat-menu-item (click)="addQuestion('radio', 4)"> 4 radio button </button>
    <button mat-menu-item (click)="addQuestion('radio', 5)"> 5 radio button </button>
    <button mat-menu-item (click)="addQuestion('textbox', 1)"> text box </button>
    <button mat-menu-item (click)="addQuestion('slider', 1)"> slider </button>
  </mat-menu>

    <button mat-raised-button color="primary" (click)="saveSurvey(questionArr)">Save Survey</button>

</form>
<app-excel-parser></app-excel-parser>
