.question-parent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
}

mat-form-field {
  width: 75%;
  height: 25%
}

.question-form {
  min-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question-form > mat-card-content > * {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
