<div>
  <form [formGroup]="fiveButtonForm">
    <div class="fiveButtonForm">
      <label>
        Question: <input matInput [(ngModel)]="question" placeholder="Enter question." formControlName="question" />
      </label>
      <br>
      <br>
      <!-- <mat-radio-group formControlName="answer" aria-label="Select"> -->
        <mat-radio-button value="1"> <input matInput [(ngModel)]="answerVal1" placeholder="value" formControlName="answer"> </mat-radio-button>
        <mat-radio-button value="2"> <input matInput [(ngModel)]="answerVal2" placeholder="value" formControlName="answer"> </mat-radio-button>
        <mat-radio-button value="3"> <input matInput [(ngModel)]="answerVal3" placeholder="value" formControlName="answer"> </mat-radio-button>
        <mat-radio-button value="4"> <input matInput [(ngModel)]="answerVal4" placeholder="value" formControlName="answer"> </mat-radio-button>
        <mat-radio-button value="5"> <input matInput [(ngModel)]="answerVal5" placeholder="value" formControlName="answer"> </mat-radio-button>
      <!-- </mat-radio-group> -->
      <br>
    </div>
  </form>
</div>
