<mat-card>
  <label> Surveys </label>
  <button mat-button (click)="setValid()">survey1
  </button>

  <div *ngIf="valid">
    <div class="surveyForm">
      <mat-form-field>
        <label>
          Survey Name: survey1
        </label>
      </mat-form-field>
    </div>

    <label>1. Question: How cute is your dog?</label>
    <br>
            <label>Answer: </label>
                <textarea matInput placeholder="response"></textarea>
    <label>1. Question: What percent good boy is he?</label>
    <br>
            <label>Answer: </label>
                <mat-slider thumbLabel min="0" max="100"></mat-slider>

    <button mat-raised-button color="primary" >Send Survey</button>

  </div>

  <!-- <mat-list>
    <mat-list-item *ngFor = "let ClassRoster of rosters; let i = index">
      {{ ClassRoster.className }}

      <button mat-icon-button (click)="deleteRoster(i)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-list-item>
  </mat-list> -->

</mat-card>
