.login-parent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-icon {
  background-image: url('../../../assets/favicon-175x165.png');
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 400px;
}

.login-form > mat-card-content > * {
  width: 100%;
}
