<mat-sidenav-container class="sidenav-container">
<mat-toolbar class="mat-toolbar-cl" color="primary" >
  <mat-toolbar-row>

    <h1>PMAP</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/student-home/student-welcome">Menu</a>
      <a mat-button routerLink="/change-pass"> Change Password </a>
      <a mat-button routerLink="/student-home/student-survey">My Surveys</a>
    </div>
  </mat-toolbar-row>
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
</mat-toolbar>
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
